/*  Adds background images + aligns text to center */
.App {
  text-align: center;
  background-image: url("./curtains.jpg");
}

.AppAlt {
  text-align: center;
  background-image: url("./cinemaBackground.jpg");
  color: white;
}

/* Sets links to white for visual improvement */
a:link {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

h3 {
  color: yellow;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-form {
  color: black;
  display: table-cell;
  text-align: center;
  width: 50%;
}

.App-link {
  color: #09d3ac;
}
